# This is Git's per-user configuration file.
[user]
  email = houssamblur04@gmail.com
  name = Houssam Ouhra

[core]
  editor = code --wait
  autocrlf = input

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = "code --wait --diff $LOCAL $REMOTE"

[alias]
    lg = log --pretty=format:'%C(yellow)%h%Creset %C(blue)%an%Creset %s %Cgreen(%cr)%Creset'
	unstage = restore --staged .
	graph = log --oneline --graph --decorate --all
	pr = pull --rebase

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[color]
    ui = auto
	
[safe]
	directory = *

[credential]
	helper = store

[init]
    defaultBranch = main

[url "git@github.com:"]
	insteadOf = https://github.com/
