* {{
    selected-normal-background: @active-grad;
    selected-normal-foreground: @bg-col;

    /* Normal items */
    normal-background: transparent;
    normal-foreground: @fg-col;

    /* Active items */
    active-background: transparent;
    active-foreground: @active-grad;

    /* Urgent items */
    urgent-background: transparent;
    urgent-foreground: @fg-col;

    /* Alternate rows */
    alternate-normal-background: transparent;
    alternate-normal-foreground: @fg-col;

    alternate-active-background: transparent;
    alternate-active-foreground: @active-grad;

    alternate-urgent-background: transparent;
    alternate-urgent-foreground: @fg-col;


    bg-col:         {background};
    bg-col-light:   {color0};
    border-col:     {color8};

    selected-col:   {color8};

    blue:           {color4};

    fg-col:         {foreground};
    fg-col2:        {color1};

    grey:           {color7};

    surface0:       {color0};
    surface1:       {color8};

    mauve:          {color5};
    rosewater:      {color6};

    bg-alpha:       {background}dd;

    active-grad:    linear-gradient(to bottom, {color8}, {color3});

    font: "JetBrainsMono Nerd Font 12";
}}
