/* Colors ( Pywal-generated color scheme )*/
@import "~/.cache/wal/rofi-colors.rasi"

/* Configuration */
configuration {
    modi: "dmenu";
    show-icons: true;
    display-dmenu: "Clipboard";
    window-format: "{w} · {c} · {t}";
}

/* Global theme variables */
* {
    font: "JetBrainsMono Nerd Font 11";

    bg:             @bg-col;
    bg-alt:         @bg-alpha;

    fg:             @fg-col;
    fg-alt:         @bg-col;

    border:         @border-col;
    accent:         @mauve;

    selected:       @selected-col;

    background-color: transparent;
    text-color:       @fg;
}

/* Fullscreen window overlay */
window {
    transparency: "real";
    location: center;
    anchor: center;
    fullscreen: true;
    background-color: @bg-alt;
    padding: 40px;
    border: 0px;
    border-radius: 0px;
}

/* Main layout container */
mainbox {
    background-color: transparent;
    spacing: 14px;
    children: [inputbar, listview];
}

/* Search / filter bar container */
inputbar {
    children: [ prompt, entry ];
    padding: 10px;
    spacing: 10px;
    background-color: transparent;
}

/* Prompt label ("Clipboard") */
prompt {
    background-color: transparent;
    text-color: @fg-col;
    font: "JetBrainsMono Nerd Font Bold 11";
}

/* Input field */
entry {
    placeholder: "Browse clipboard";
    placeholder-color: #ffffff66;
    text-color: @fg-col;
    background-color: transparent;
    cursor-width: 1px;
    hide-cursor-on-empty: true;
    blink: false;
}

/* Clipboard list container */
listview {
    background-color: transparent;
    columns: 1;
    lines: 20;
    cycle: false;
    dynamic: true;
    scrollbar: false;
    spacing: 6px;
}

/* Clipboard item */
element {
    background-color: transparent;
    text-color: @fg;
    padding: 10px 14px;
    spacing: 10px;
    border: 1px;
    border-color: transparent;
    border-radius: 14px;
    cursor: pointer;
}

/* Selected clipboard item */
element selected {
    background-color: @selected-col;
    background-image: @active-grad;
    text-color: @bg-col;
    border: 1px;
    border-radius: 14px;
}

/* Clipboard item text */
element-text {
    background-color: transparent;
    text-color: inherit;
    highlight: inherit;
    cursor: inherit;
    vertical-align: 0.5;
}
