/* Colors ( Pywal-generated color scheme )*/
@import "~/.cache/wal/rofi-colors.rasi"

/* Configuration */
configuration {
    modes: "drun";
    show-icons: true;
    icon-theme: "Papirus-override";
    display-drun: "Apps";
    display-run: "Run";
    terminal: "foot";
    scroll-method: 0;
    click-to-exit: true;
    sidebar-mode: false;
    drun-display-format: "{icon} {name}";

     // Vim-style navigation
    kb-row-left:  "Left,Control+h";
    kb-row-down:  "Down,Control+j";
    kb-row-up:    "Up,Control+k";
    kb-row-right: "Right,Control+l";

    kb-remove-char-back: "BackSpace";
    kb-accept-entry: "Control+z,Control+y,Return,KP_Enter";
    kb-remove-to-eol: "";
    kb-mode-complete: "Control+o";
    kb-move-char-back: "Control+b";
    kb-move-char-forward: "Control+f";
    kb-remove-char-back: "BackSpace";
}

/* Global element styling */
element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

/* Main container layout */
mainbox {
    children: [ inputbar, message, listview ];
    background-color: transparent;
}

/* Window styling */
window {
    location: center;
    anchor: center;
    background-color: #16161ee6;
    width: 20%;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
}

/* Search bar container */
inputbar {
    children: [ prompt, entry ];
    padding: 10px;
    spacing: 10px;
    background-color: transparent;
}

/* Prompt label */
prompt {
    background-color: transparent;
    text-color: @fg-col;
}

/* User input field */
entry {
    placeholder: "Search apps";
    placeholder-color: #ffffff66;
    text-color: @fg-col;
    background-color: transparent;
    hide-cursor-on-empty: true;
    cursor-width: 1px;
    blink: false;
}

/* Results list container */
listview {
    dynamic: true;
    flow: vertical;
    columns: 1; 
    lines: 4;
    cycle: true;
    padding: 6px;
    background-color: transparent;
    scrollbar: false;
    fixed-height: false;
    border: 0px;
}

/* Individual result item */
element {
    padding: 8px 12px;
    spacing: 8px;
    background-color: transparent;
    text-color: @fg-col;
    border: 1px;
    border-radius: 12px;
    border-color: transparent;
    cursor: pointer;
}

/* Selected item styling */
element selected {
    background-image: @active-grad;
    text-color: @bg-col;
    border-radius: 14px;
}

/* App icon inside each element */
element-icon {
    background-color: transparent;
    size: 1.2em;
    padding: 0px;
    cursor: inherit;
    vertical-align: 0.5;
}

/* App name text inside each element */
element-text {
    text-color: inherit;
    vertical-align: 0.5;
    cursor: inherit;
}

/* Error display box */
error-message {
    background-color: @bg-col;
    border: 1px;
    border-color: @fg-col2;
    border-radius: 12px;
    padding: 20px;
    text-color: @fg-col;
}
