@import "./config.rasi"

configuration {
    show-icons: false;
}

entry {
    placeholder: "Choose emoji";
}

element-icon {
    size: 0px;
}

element selected {
    background-color: @active-grad;
}
