@import "~/.config/rofi/config.rasi"

/* ---- Configuration ---- */
configuration {
    show-icons: true;
    icon-fetcher: "internal";
}

/* ---- Window ---- */
window {
    width: 50%;
    height: 65%;
    border-radius: 20px;
}

/* ---- Mainbox ---- */
mainbox {
    children: ["inputbar", "listview"];
    spacing: 10px;
    padding: 20px;
}

/* ---- Inputbar ---- */
inputbar {
    enabled: true;
    padding: 10px;
    border-radius: 20px;
    children: ["prompt", "entry"];
    background-color: transparent;
}

prompt {
    enabled: true;
    padding: 0px 10px 0px 0px;
    background-color: transparent;
    text-color: @primary;
}

entry {
    placeholder: "󰍉 Search...";
    background-color: transparent;
    text-color: @foreground;
}

/* ---- Listview ---- */
listview {
    columns: 4;
    lines: 3;
    fixed-height: false;
    scrollbar: false;
    spacing: 12px;
    padding: 10px;
    cycle: false;
    dynamic: true;
    layout: vertical;
    reverse: false;
}

/* ---- Elements ---- */
element {
    orientation: vertical;
    padding: 10px;
    spacing: 0px;
    border-radius: 12px;
    cursor: pointer;
}

element normal.normal {
    background-color: transparent;
    text-color: inherit;
}

element selected.normal {
    background-color: @primary;
    border: 2px;
}

element-icon {
    size: 7em;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: transparent;
}

element-text {
    enabled: false;
}
