/* Colors ( Pywal-generated color scheme )*/
@import "~/.cache/wal/rofi-colors.rasi"

/* Main container layout */
mainbox {
    background-color: transparent;
    spacing: 14px;
    children: [ inputbar, listview ];
}

/* Main container */
window {
    width: 820px;
    height: 600px;
    anchor: center;
    location: center;
    border-radius: 22px;
    background-color: @bg-alpha;
    padding: 18px;
}

/* search area */
inputbar {
    padding: 12px 16px;
    border-radius: 16px;
    background-color: transparent;
    children: [ prompt, entry ];
}

/* Prompt label (left side of input bar) */
prompt {
    enabled: true;
    text-color: @fg-col;
    background-color: transparent;
    margin: 0px 8px 0px 0px;
}

/* Text input field */
entry {
    placeholder: "Search wallpaper...";
    placeholder-color: #ffffff66;
    text-color: @fg-col;
    background-color: transparent;
}

/* Wallpaper grid */
listview {
    columns: 3;
    lines: 2;
    flow: horizontal;
    fixed-height: true;
    fixed-columns: true;
    cycle: false;
    scrollbar: false;
    spacing: 16px;
    background-color: transparent;
}

/* Wallpaper tile */
element {
    orientation: vertical;
    padding: 10px;
    spacing: 10px;
    border-radius: 18px;
    background-color: transparent;
}

/* Selected wallpaper */
element selected {
    background-image: @active-grad;
    text-color: @bg-col;
}

/* Wallpaper preview image */
element-icon {
    size: 210px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    border-radius: 14px;
    background-color: transparent;
}

/* Text label (disabled) */
element-text {
    enabled: false;
}
