* {
  font-size: 14px;
  font-family: "Maple Mono NF", "Symbols Nerd Font", monospace;
}

window#waybar {
  background: transparent;
  color: #c0caf5;
}

/* Container */
.modules-left,
.modules-right {
  padding: 1px;
  border-radius: 10px;
  background: #16161ecc;
  border: none;
  box-shadow: none;
}

.modules-left {
  margin: 2px 0 0 4px;
}

.modules-center {
  margin: 2px 0 0 0;
}

.modules-right {
  margin: 2px 4px 0 0;
}

/* Tooltips */
tooltip {
  background: rgba(22, 22, 30, 0.95);
  color: #c0caf5;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);
}

/* Module */
#clock,
#bluetooth,
#network,
#cpu,
#memory,
#disk,
#battery,
#backlight,
#tray,
#pulseaudio,
#pulseaudio#microphone,
#custom-weather,
#custom-spotify,
#custom-gpu,
#custom-rmpc,
#custom-updater,
#custom-uptime,
#custom-colorpicker,
#window {
  color: #c0caf5;
  padding: 0 9px;
  font-weight: 600;
  transition:
    opacity 0.15s,
    color 0.15s;
}

#network {
  padding: 0 12px 0 9px;
}

#custom-spotify {
  padding: 0 0 0 12px;
}

#cpu {
  min-width: 50px;
  padding: 0 3px 0 8px;
}

#custom-space {
  min-width: 9px;
}

#clock:hover,
#bluetooth:hover,
#network:hover,
#cpu:hover,
#custom-gpu:hover,
#memory:hover,
#disk:hover,
#battery:hover,
#backlight:hover,
#pulseaudio:hover,
#pulseaudio#microphone:hover,
#custom-weather:hover,
#custom-rmpc:hover,
#custom-spotify:hover,
#custom-colorpicker:hover,
#custom-uptime:hover {
  color: #ffffff;
}

#window {
  background: transparent;
  padding: 0 10px;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  all: unset;
  min-width: 20px;
  padding: 2px 2px;
  margin: 0 2px;
  border-radius: 8px;
  background: transparent;
  color: #a9b1d6;
  transition:
    background 0.15s ease,
    color 0.15s ease,
    opacity 0.15s ease;
}

/* Hover */
#workspaces button:hover {
  background: rgba(192, 202, 245, 0.10);
  color: #ffffff;
}

#workspaces button.active {
  background: rgba(192, 202, 245, 0.18);
  color: #ffffff;
}

/* Empty */
#workspaces button.empty {
  opacity: 0.45;
}

#workspaces button.empty:hover {
  opacity: 0.75;
}

/* Urgent */
#workspaces button.urgent {
  background: rgba(247, 118, 142, 0.70);
  color: #ffffff;
}

/* Network */
#network.disconnected {
  opacity: 0.6;
}

/* Spotify */
#custom-spotify.paused {
  opacity: 0.75;
}

#custom-spotify {
  margin-right: 6px;
}

/* RMPC */
#custom-rmpc.paused {
  opacity: 0.75;
}

#custom-rmpc {
  margin-right: 6px;
}

/* Waybar Timer */
#custom-timer {
  background-color: #1a1b26;
  color: #c0caf5;
  padding: 0 9px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.2s ease;
}

/* STATE: DISABLED (00:00, Idle) */
#custom-timer.disabled {
  background-color: transparent;
  color: #565f89;
  opacity: 0.6;
  font-weight: normal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

/* STATE: IDLE (Active but 00:00) */
#custom-timer.idle {
  background-color: transparent;
  color: #565f89;
}

/* STATE: SELECTION MODE */
#custom-timer.select {
  background-color: #292e42;
  color: #7aa2f7;
}

/* STATE: RUNNING */
#custom-timer.running {
  background-color: transparent;
  color: #c0caf5;
}

/* STATE: POMODORO BREAK */
#custom-timer.pomo_break {
  background-color: transparent;
  color: #e0af68;
}

/* STATE: POMODORO MESSAGE */
#custom-timer.pomo_msg {
  background-color: transparent;
  color: #bb9af7;
}

/* STATE: PAUSED */
#custom-timer.paused {
  background-color: #292e42;
  color: #e0af68;
}

/* STATE: WARNING */
#custom-timer.warning {
  background-color: transparent;
  animation-name: red-alert;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* STATE: DONE */
#custom-timer.done {
  background-color: #565f89;
  color: #16161e;
}

/* STATE: RESET ANIMATION */
#custom-timer.reset {
  color: #f7768e;
  background-color: transparent;
}

/* KEYFRAMES: Red Color Fading */
@keyframes red-alert {
  0% {
    color: #f7768e;
    opacity: 1;
  }

  100% {
    color: #f7768e;
    opacity: 0.8;
    text-shadow: none;
  }
}

/* Battery */
#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #7aa2f7;
}

#battery.plugged {
  color: #a9b1d6;
}

#battery.warning {
  color: #e0af68;
}

#battery.critical {
  color: #f7768e;
}
