* {
  font-family: "Cascadia Code NF", "Cascadia Code", monospace !important;
}

/* Disable Homepage Recommendations */
[data-testid="home-page"]
  .contentSpacing
  > *:not(
    .view-homeShortcutsGrid-shortcuts,
    [data-testid="component-shelf"]:has(
      [href="/genre/recently-played"],
      [href="/section/0JQ5DAnM3wGh0gz1MXnu3z"]
    )
  ) {
  display: none !important;
}

/* Hide recently played sections */
.view-homeShortcutsGrid-shortcuts,
section[aria-label="Recently played"] {
  display: none;
}

/* Hide sidebar scrollbar*/
#Desktop_LeftSidebar_Id .os-scrollbar-handle,
.Root__nav-bar .os-scrollbar-handle,
#Desktop_LeftSidebar_Id .os-scrollbar-track,
.Root__nav-bar .os-scrollbar-track {
  visibility: hidden;
}

/* Modern scrollbar */
.os-scrollbar-handle {
  width: 0.25rem !important;
  border-radius: 10rem !important;
  transition: width 300ms ease-in-out;
}
.os-scrollbar-handle:focus,
.os-scrollbar-handle:focus-within,
.os-scrollbar-handle:hover {
  width: 0.35rem !important;
}

/* Hide 'Scroll through previews' */
.main-actionBar-exploreButton {
  display: none !important;
}
