@import "../../.cache/wal/colors-waybar.css";

window {
  background-color: rgba(30, 30, 46, 0.8);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  animation: gradient_f 10s ease-in infinite;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  border-radius: 50px;
  border: 0px;
  outline-style: none;
}

button:focus {
  background-size: 35%;
  border: 0px;
  outline-style: none;
  background-color: alpha(@background, 0.8);
    box-shadow: 0 0 24px alpha(@color6, 0.4);
}

/* Adjust the size of the icon or content inside the button */
button span {
  font-size: 1.2em; /* Increase the font size */
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#sleep {
  background-image: image(url("./icons/sleep.png"));
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}
